*{
    list-style-type: none;
    text-decoration: none;   
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

input[type=button]{
    cursor: pointer;
    border:none;
}

body{
    background: linear-gradient(90deg, rgba(10,9,41,1) 0%, rgba(75,13,58,1) 50%, rgb(11, 48, 65) 100%);
    /* background-size: 400%;
    animation: bg-animation 5s infinite alternate; */
}

/* @keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
} */

.hide{
    visibility: hidden;
    height: 0;
    width: 0;
}

.tableStyle{
    background-color: #f8f9fa;
    color: #202122;
    margin: 1em 0;
    border: 1px solid #4c4d4e;
    border-collapse: collapse;
}

.tableStyle td{
    border: 1px solid #4c4d4e;
    padding: 0.2em 0.4em;
}

.cellPedido{
    color: white;
    background-color: green;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu';
    margin: 50px 20px 20px 20px;
    width: 80vw;
    height: 700px;
    background-color: #dbdbdb;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 6px 7px 7px 0px #00000045;
}

.content input{
    margin: 0px 5px;
}

.content label{
    font-weight: 400;
}

.content input[type=button]{
    font-weight: 500;
}

.content .plusBtn, .ConfirmBtn{
    color: #fff;
    padding: 3px 12px 3px 12px;
    border-radius: 5px;
}

.content .plusBtn{
    font-size: 18px;
    padding: 2px 12px 3px 12px;
    border: solid 1px #494949;
    background-color: grey;
    transition: all .6s ease;
    
}

.content .plusBtn:active{
    color:grey;
    background-color: #fff;
}

.content .ConfirmBtn{
    padding: 8px 18px;
    border: solid 1px darkgreen;
    background-color: green;
    transition: background-color .3s;
}

.content .ConfirmBtn{
    transition: background-color .3s ease, transform .1s ease;
}

.content .ConfirmBtn:hover{
    color: green;
    background-color: #fff;
}

.content .ConfirmBtn:active{
    transform: scale(1.07);
}

.input-container{
    margin: 20px 0px;
}

/* .ConfirmBtn-container{
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: end;
} */

.ConfirmBtn{
    position: absolute;
    top: 90%;
}
