@charset "utf-8";

*{
    list-style-type: none;
    text-decoration: none;   
}

input[type=button], input[type=date]{
    cursor: pointer;
    border:none;
}

input[type=text], input[type=date]{
    border: solid 1px #00000020;
    background-color: #00000020;
}

input[type=text], input[type=date]:focus{
    outline-color: #8d8d8d;
}

body{
    min-width: fit-content;
    background: linear-gradient(90deg, rgba(10,9,41,1) 0%, rgba(75,13,58,1) 40%, rgb(11, 48, 65) 80%, rgba(10,9,41,1) 100%);
    /* background-size: 400%;
    animation: bg-animation 5s infinite alternate; */
}

/* @keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
} */

.hide{
    visibility: hidden;
    height: 0;
    width: 0;
}

.tableStyle{
    background-color: #f8f9fa;
    color: #202122;
    margin: 1em 0;
    border: 1px solid #4c4d4e;
    border-collapse: collapse;
}

.tableStyle td{
    border: 1px solid #4c4d4e;
    padding: 0.2em 0.4em;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu';
    margin: 50px 20px 20px 20px;
    min-height: 650px;
    min-width: 95vw;
    max-width: fit-content;
    height: fit-content;
    background-color: #dbdbdb;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 6px 7px 7px 0px #00000045;
}

.content input{
    margin: 0px 5px;
}

.content label{
    font-weight: 400;
}

.content input[type=button]{
    font-weight: 500;
}

.content .plusBtn, .exportBtn{
    color: #fff;
    padding: 3px 12px 3px 12px;
    border-radius: 5px;
}

.content .plusBtn{
    font-size: 18px;
    padding: 2px 12px 3px 12px;
    border: solid 1px #494949;
    background-color: grey;
    transition: all .6s ease;
    
}

.content .plusBtn:active{
    color:grey;
    background-color: #fff;
}

.content .exportBtn{
    padding: 8px 18px;
    border: solid 1px darkgreen;
    background-color: green;
    transition: background-color .3s;
}

.content .exportBtn{
    transition: background-color .3s ease, transform .1s ease;
}

.content .exportBtn:hover{
    color: green;
    background-color: #fff;
}

.content .exportBtn:active{
    transform: scale(1.07);
}

.input-container{
    margin: 20px 0px;
}

/* .exportBtn-container{
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: end;
} */

.exportBtn{
    position: relative;
}

.cellPedido{
    color: white;
    background-color: green;
    font-weight: 500;
}

.countCell{
    background-color: #414141;
    font-weight: 600;
    color: #fff;
}

.dateCell{
    font-weight: 500;
    border-collapse: collapse;
    font-size: 15px;
    background-color: #c5c5c5;
    border: 1.9px solid #000 !important;
    min-width: 65px;
}

.radioCell{
    background-color: rgb(228, 34, 50);
    color: #fff;
    font-weight: 400;
}

.removeButton{
    padding: 2px 7px;
    cursor: pointer;
    border: none;
    background-color: red;
    font-weight: 600;
    color: #fff;
    transition: transform .1s ease;
}

.removeButton:hover{
    transform: scale(1.1);
}

.removeButton:active{
    background-color: #e5ff00;
}